<ion-view view-title="Zmiana hasła">
  <ion-content>

    <form ng-submit="editPasswordCtrl.editPassword()">
      <div class="card">
        <div class="item item-text-wrap">
          <h3>Wpisz stare hasło</h3>
        </div>
        <label class="item item-input">
          <span class="input-label">Stare hasło</span>
          <input type="password" ng-model="editPasswordCtrl.form.oldPassword"/>
        </label>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <h3>Wpisz nowe hasło</h3>
        </div>
        <label class="item item-input">
          <span class="input-label">Nowe hasło</span>
          <input type="password" ng-model="editPasswordCtrl.form.newPassword"/>
        </label>
      </div>
      <div class="card">
      <div class="item item-text-wrap">
        <h3>Potwierdź nowe hasło</h3>
      </div>
      <label class="item item-input">
        <span class="input-label">Potwiedź hasło</span>
        <input type="password" ng-model="editPasswordCtrl.form.newPasswordConfirmed"/>
      </label>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">

        <a class="tab-item" ng-click="editPasswordCtrl.cancel()">
          <i class="ion-arrow-left-a"></i>
          Wróć
        </a>

        <a class="tab-item" ng-click="editPasswordCtrl.editPassword()">
          <i class="icon ion-edit"></i>
          Zmień hasło
        </a>

        </div>

    </form>

  </ion-content>
</ion-view>
