<ion-view view-title="Wirtualna Kolejka">

  <div class="bar bar-subheader">
    <h3 class="title">Strona główna</h3>
  </div>


  <ion-content class="has-header has-subheader">

    <div class="card" ng-if="mainCtrl.appointments.length !=0">
      <div class="item item-divider">
        <h>Zaplanowana wizyta</h>
      </div>
      <div class="item item-text-wrap" ng-repeat="appointment in mainCtrl.appointments">
        <div class="item item-button-right">
          <button class="button button-positive" ng-click="mainCtrl.showAppointment(appointment)">
            <i class="icon ion-clipboard"></i>
          </button>
          <h3>Dzisiaj o godzinie {{appointment.appointment.startDateTime | date:"HH:mm"}}</h3>
          <h3>Dotknij przycisk aby zobaczyć szczegóły</h3>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <h1>Witaj</h1>
      </div>
      <div class="item item-text-wrap">
        Aplikacja pozwoli Ci na pobranie biletu, oraz poinformuje Cię kiedy rozpocznie się jego obsługa.
      </div>
      <div class="item item-text-wrap">
        <div class="col text-center">
          <button class="button button-outline button-positive" ng-click="mainCtrl.ticketAction()">
            Chcę pobrać bilet
          </button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
<ion-nav-view name="content"></ion-nav-view>
