<ion-view view-title="Wirtualna Kolejka" cache-view="false">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <h1>Po co mi konto?</h1>
      </div>
      <div class="item item-text-wrap">
        W kilka minut załóż własne konto, aby przegladac historię swoich wizyt, oraz szybciej umawiać sie na spotkania w
        placówkach
      </div>
      <div class="item item-text-wrap">
        <button class="button button-positive" ng-click="benefitsCtrl.createAccountAction()">
          Chcę założyć konto
        </button>
        <button class="button button-positive" ng-click="benefitsCtrl.thanksAction()">
          Dziekuję
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

